<div class="example-container" >
    
    <mat-toolbar color="primary" class="example-toolbar">
      <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
      <img src="../../assets/insfinite_icon_1.png" width="80px" height="40px" style="padding-left: 10px;">
      <span class="example-spacer"></span>
      <button mat-raised-button class="example-icon" style="background-color: #55bbf1;" aria-hidden="false"
      (click)="logout()" >logout</button>
    </mat-toolbar>

    <mat-sidenav-container class="example-sidenav-container"
                         [style.marginTop.px]="mobileQuery.matches ? 0 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
                 [fixedInViewport]="mobileQuery.matches" fixedTopGap="64">
      <mat-nav-list style="width:200px">
        <a mat-list-item (click)="addPolicy();snav.toggle();" class="waves-effect" >Add Policy</a>
        <a mat-list-item routerLink="/profile" class="waves-effect">Profile</a>
        <a mat-list-item routerLink="/archives" class="waves-effect">Archives</a>
        <a mat-list-item routerLink="/support" class="waves-effect">Support</a>
      </mat-nav-list>
    </mat-sidenav>
    
    <mat-sidenav-content class="main-content">
      <!-- The data for the main page goes here -->
      <!-- <div [hidden]="!isDataAvailable || loading" style="cursor: pointer;"> -->
        <br>
        <!-------------------------Cards of policies ---------------------------->
        <div align="right" style="padding-right: 30px;" >
        <button mat-raised-button class="button5"  (click)="addPolicy()">Add Policy</button>
        </div>
        <div class="row row-body" align="center" *ngIf="!loading && !isErrorMessage">
                <div *ngFor="let policy of response;let i=index" >
                    <div *ngIf="i%2==0" class="col-sm-4"  style="background-color:#f5f7fb;">
            
                        <mat-card class="example-card" >
                            <mat-card-header style="background-color:#fff;">
                               
                                <div mat-card-avatar  align="left" ><img class="insuranceLogo" 
                                  [src]="policy.external_entity_name.icon"></div>
                                <mat-card-title align="left" >{{policy.external_entity_name.entityName}} 
                                    </mat-card-title>
                                   <div class="test">
                                    <button mat-icon-button [matMenuTriggerFor]="menu" >
                                        <mat-icon>more_vert</mat-icon>
                                      </button>
                                    </div>
                                      <mat-menu #menu="matMenu">
                                        <button mat-menu-item (click)="sharePolicy()"
                                        [disabled]="policy.isShared =='Y'">
                                          <mat-icon>share</mat-icon>
                                          <span>Share</span>
                                        </button>
                                        <button mat-menu-item (click)="archiveDialog(policy)">
                                          <mat-icon>archive</mat-icon>
                                          <span>Archive</span>
                                        </button>
                                        
                                      </mat-menu>
                           
                                <mat-card-subtitle class="subtitle-left" align="left">{{policy.external_entity_type.entityType}}</mat-card-subtitle>
                                <!-- <div class="test" align="right"></div> -->
                              </mat-card-header>
                              <mat-card-content class="cardContent"align="left" (click)="openDialog(policy)">
                                <p>
                                  Insured Name - {{policy.user_relation.firstName}} {{policy.user_relation.lastName}}
                                </p>
                                <p>Policy Name - {{policy.policyName}}</p>
                                <div *ngIf="policy.isShared =='Y'" class="test1">
                                         Shared with you
                                </div>
                               
                              </mat-card-content>
                              <!-- <mat-card-actions align="right">
                            <button mat-raised-button color="accent">Upload</button>
                          <button mat-raised-button color="accent">Share</button>
                          </mat-card-actions> -->
                        </mat-card>
                          
                  </div>   

                  <div *ngIf="i%2!=0"  class="col-sm-4"  style="background-color:#f5f7fb;">
           
                    <mat-card class="example-card">
                        <mat-card-header style="background-color:#fff;">
                            <div mat-card-avatar  align="left" ><img class="insuranceLogo" 
                                [src]="policy.external_entity_name.icon"></div>
                              <mat-card-title align="left" >{{policy.external_entity_name.entityName}} 
                                  </mat-card-title>
                                 <div class="test">
                                  <button mat-icon-button [matMenuTriggerFor]="menu" >
                                      <mat-icon>more_vert</mat-icon>
                                    </button>
                                  </div>
                                    <mat-menu #menu="matMenu">
                                      <button mat-menu-item (click)="sharePolicy()"
                                      [disabled]="policy.isShared =='Y'">
                                        <mat-icon>share</mat-icon>
                                        <span>Share</span>
                                      </button>
                                      <button mat-menu-item (click)=" archiveDialog(policy)">
                                        <mat-icon>archive</mat-icon>
                                        <span>Archive</span>
                                      </button>
                                      
                                    </mat-menu>
                         
                              <mat-card-subtitle class="subtitle-left" align="left">{{policy.external_entity_type.entityType}}</mat-card-subtitle>
                              <!-- <div class="test" align="right"></div> -->
                            </mat-card-header>
                         
                        <mat-card-content class="cardContent" align="left" (click)="openDialog(policy)">
                          <p>
                            Insured Name - {{policy.user_relation.firstName}} {{policy.user_relation.lastName}}
                          </p>
                          <p>Policy Name - {{policy.policyName}} </p>
                          <div *ngIf="policy.isShared =='Y'" class="test1">
                            Shared with you
                   </div>
                        </mat-card-content>
                        <!-- <mat-card-actions align="right">
                          <button mat-raised-button color="accent">Upload</button>
                          <button mat-raised-button color="accent">Share</button>
                        </mat-card-actions> -->
                      </mat-card>
                     </div>
                
                </div>
        </div>
        <div class="row row-body" align="center" *ngIf="!loading && isErrorMessage">
            <br/>
            <h6 align="center">{{errorMessage}}</h6>


        </div>
         
          <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4 spinner-login100" *ngIf="loading">
                <br/>
                <br/>
                <br/><br/>
                <img *ngIf="loading"  src="../../assets/loadingSpinner.gif" id="icon" width="100" height="100"/>
            </div>
          </div>
    </mat-sidenav-content>
    
  </mat-sidenav-container>
</div>


