
<button mat-icon-button class="close"
(click)="onNoClick()">
<mat-icon>close</mat-icon>
</button>
<br/>
    <h3 matDialogTitle style="background-color: #fff;">
        <img [src]="data.external_entity_name.icon" width="100px">
               {{data.external_entity_type.entityType}} Policy of {{data.external_entity_name.entityName}}</h3>

    <mat-dialog-content *ngIf="!loading">
      <p>Insured Name-<b> {{data.user_relation.firstName}} {{data.user_relation.lastName}}</b></p>
      
      <p> <mat-form-field class="example-full-width">
        <input type="text" matInput [value]="data.policyName"
        (blur)="fName($event);" placeholder=" Policy Name"
         required maxlength="50" pattern="[A-Za-z]+">
        </mat-form-field>
      </p>

      <p>
        <mat-form-field class="example-full-width">
            <input type="text" matInput [value]="data.policyNumber"
            (blur)="fName($event);" placeholder=" Policy Number"
             required maxlength="50" pattern="[A-Za-z]+">
            </mat-form-field>  
    </p>

            <div class="row">
            <div class="col-sm-5" >
                <p><mat-form-field class="example-full-width">
                    <input type="date" matInput 
                    (blur)="fName($event);" placeholder=" Policy Start Date" value="{{data.policyStartDate | date:'yyyy-MM-dd'}}"
                     required>
                    </mat-form-field>  
                </p></div>
            <div class="col-sm-2" align= "center"></div>
            <div class="col-sm-5"><p>
                <mat-form-field class="example-full-width">
                    <input type="date" matInput 
                    (blur)="fName($event);" placeholder=" Policy End Date" value="{{data.policyEndDate | date:'yyyy-MM-dd'}}"
                     required >
                    </mat-form-field>
                </p></div>
        </div>
         

      <p>
        <mat-form-field class="example-full-width">
            <input type="number" matInput [value]="data.policyPremium"
            (blur)="fName($event);" placeholder=" Premium Amount"
             required maxlength="9" pattern="[A-Za-z]+" min="0">
            </mat-form-field>   
    </p>
      <div *ngIf="data.external_entity_type.externalEntityTypeId == '1' || data.external_entity_type.externalEntityTypeId == '2'">
        <div >  
            <label>Vehicle Brand/Make</label>
            
            <select matInput class="form-control dash-form-control select2 example-full-width"  
             (change)="onVehicleBrand($event)" required>
             <option selected disabled value="">{{data.user_policy_vehicle_details.brand}}</option>
              <option  *ngFor="let carmaker of vehicleMaker;" [value]="carmaker">{{carmaker}}</option>
            </select>
            
            </div>  
            <br>
        <div >  
            <label>Vehicle Model</label>
            
            <select matInput class="form-control dash-form-control select2 example-full-width"  
             (change)="onVehicleBrand($event)" required>
             <option selected disabled value="">{{data.user_policy_vehicle_details.model}}</option>
              <option  *ngFor="let model of vehicleTypes;" [value]="model">{{model}}</option>
            </select>
            
            </div> 
            <br>
            <p>
                <mat-form-field class="example-full-width">
                    <input type="number" matInput 
                    (blur)="fName($event);" placeholder=" Registration Year" [value]="data.user_policy_vehicle_details.registrationYear"
                     required maxlength="4" pattern="[A-Za-z]+" min="1800" max="2022">
                    </mat-form-field>   
            </p>
            <p>
                <mat-form-field class="example-full-width">
                    <input type="text" matInput 
                    (blur)="fName($event);" placeholder=" Registration Number" [value]="data.user_policy_vehicle_details.registrationNumber"
                     required pattern="[A-Za-z]+">
                    </mat-form-field>   
            </p>
        <p>
            <mat-form-field class="example-full-width">
                <input type="number" matInput 
                (blur)="fName($event);" placeholder="Excess Amount" [value]="data.user_policy_coverage.excessOrDiscountAmount"
                  pattern="[A-Za-z]+">
                </mat-form-field>   
        </p>

        <p>
            <mat-form-field class="example-full-width">
                <input type="number" matInput 
                (blur)="fName($event);" placeholder="Insured Declared Value" [value]="data.user_policy_coverage.insuredDeclared"
                  pattern="[A-Za-z]+">
                </mat-form-field>   
        </p>
            <p>
                <mat-form-field class="example-full-width">
                    <input type="number" matInput 
                    (blur)="fName($event);" placeholder="No Claim Bonus (%)" [value]="data.user_policy_coverage.noClaimBonusInPercentage"
                      pattern="[A-Za-z]+">
                    </mat-form-field>   
            </p>
            
            <label for="coverage">Coverage:</label>
      <br/>
      <input type="checkbox" value="comprehensive" (change)="isComprehensive($event)" name="coverage"
      [checked]="coverage.includes('Comprehensive')">
      Comprehensive<br/>
     <input type="checkbox" value="thirdParty" name="coverage" (change)="isThirdParty($event)"
     [checked]="coverage.includes('Third Party')"> Third Party<br/>
     <input type="checkbox" value="replacementCover" name="coverage" (change)="isReplacement($event)"
     [checked]="coverage.includes('Replacement Cover')"> Replacement Cover<br/>
            
    </div>
    <div *ngIf="data.external_entity_type.externalEntityTypeId == '3'">
        <!-- To be done when warranty is open
            <p>Policy Number- <b></b></p>
        <p>Policy Number- <b></b></p> -->
      </div>
      <div *ngIf="data.external_entity_type.externalEntityTypeId == '4'">
        
            <p>
                <mat-form-field class="example-full-width">
                    <input type="number" matInput 
                    (blur)="fName($event);" placeholder="Death Sum Assured" [value]="data.user_policy_coverage.deathSumAssured"
                      pattern="[A-Za-z]+">
                    </mat-form-field>   
            </p>
            <p>
                <mat-form-field class="example-full-width">
                        <input type="number" matInput 
                        (blur)="fName($event);" placeholder="Total Permanent Disability Sum Assured" [value]="data.user_policy_coverage.totalAndPermanentDisabilitySumAssured"
                          pattern="[A-Za-z]+">
                    </mat-form-field>   
            </p>
            <p>
                <mat-form-field class="example-full-width">
                        <input type="number" matInput 
                        (blur)="fName($event);" placeholder="Critical Illness Sum Assured" [value]="data.user_policy_coverage.criticalIllnessSumAssured"
                          pattern="[A-Za-z]+">
                </mat-form-field>   
            </p>
                    
      </div>
      <div *ngIf="data.external_entity_type.externalEntityTypeId == '9'">

            <div >  
                <label>Occupation Class</label>
                
                <select matInput class="form-control dash-form-control select2 example-full-width"  
                 (change)="onVehicleBrand($event)" required>
                 <option selected disabled value="">{{data.occupationClass}}</option>
                 <option value="Low Risk">Low Risk</option>
                 <option value="High Risk">High Risk</option>
                 <option value="Very High Risk">Very High Risk</option>
                </select>
                </div> 
                <br>
            <p>
                <mat-form-field class="example-full-width">
                        <input type="number" matInput 
                        (blur)="fName($event);" placeholder="Total Permanent Disability Sum Assured" [value]="data.user_policy_coverage.totalAndPermanentDisabilitySumAssured"
                          pattern="[A-Za-z]+">
                    </mat-form-field>   
            </p>

            <p>
                <mat-form-field class="example-full-width">
                        <input type="number" matInput 
                        (blur)="fName($event);" placeholder="Accidental Death Sum Assured" [value]="data.user_policy_coverage.accidentalDeathSumAssured"
                          pattern="[A-Za-z]+">
                    </mat-form-field>   
            </p>
                
            <p>
                <mat-form-field class="example-full-width">
                        <input type="number" matInput 
                        (blur)="fName($event);" placeholder="Temporary Total Disablement Benefit" [value]="data.user_policy_coverage.temporaryTotalDisablementBenefit"
                          pattern="[A-Za-z]+">
                    </mat-form-field>   
            </p>
            <p>
                <mat-form-field class="example-full-width">
                        <input type="number" matInput 
                        (blur)="fName($event);" placeholder="Temporary Total Disablement Benefit Term" [value]="data.user_policy_coverage.temporaryTotalDisablementBenefitTerm"
                          pattern="[A-Za-z]+">
                    </mat-form-field>   
            </p>

            <p>
                <mat-form-field class="example-full-width">
                        <input type="number" matInput 
                        (blur)="fName($event);" placeholder="Accidental Hospital Daily Allowance" [value]="data.user_policy_coverage.accidentalHospitalDailyAllowance"
                          pattern="[A-Za-z]+">
                    </mat-form-field>   
            </p>
      </div>
      <div *ngIf="data.external_entity_type.externalEntityTypeId == '8'">
        <p>
            <mat-form-field class="example-full-width">
                <input type="number" matInput 
                (blur)="fName($event);" placeholder="Death Sum Assured" [value]="data.user_policy_coverage.deathSumAssured"
                  pattern="[A-Za-z]+">
                </mat-form-field>   
        </p>
        <p>
            <mat-form-field class="example-full-width">
                    <input type="number" matInput 
                    (blur)="fName($event);" placeholder="Total Permanent Disability Sum Assured" [value]="data.user_policy_coverage.totalAndPermanentDisabilitySumAssured"
                      pattern="[A-Za-z]+">
                </mat-form-field>   
        </p>
        <p>
            <mat-form-field class="example-full-width">
                    <input type="number" matInput 
                    (blur)="fName($event);" placeholder="Critical Illness Sum Assured" [value]="data.user_policy_coverage.criticalIllnessSumAssured"
                      pattern="[A-Za-z]+">
                </mat-form-field>   
        </p>
        <p>
            <mat-form-field class="example-full-width">
                    <input type="number" matInput 
                    (blur)="fName($event);" placeholder="Lump Sum Maturity Benefit" [value]="data.user_policy_coverage.lumpSumMaturityBenefit"
                      pattern="[A-Za-z]+">
                </mat-form-field>   
        </p>
           
            <div *ngIf="data.user_policy_coverage.maturityDate != undefined">
                <p>Maturity Date- <b>{{data.user_policy_coverage.maturityDate}}</b></p>
           </div>
           <div *ngIf="data.user_policy_coverage.lumpSumMaturityBenefit != undefined">
            <p>Early Critical Illness Sum Assured- <b>{{data.user_policy_coverage.earlyCriticalIllnessSumAssured| currency:'INR':"symbol"}}</b></p>
       </div>
      </div>
      <div *ngIf="data.external_entity_type.externalEntityTypeId == '5'">
        <div *ngIf="data.user_policy_coverage.insuredOrCoverageAmount != undefined">
            <p>Insured/Coverage Amount- <b>{{data.user_policy_coverage.insuredOrCoverageAmount| currency:'INR':"symbol"}}</b></p>
       </div>
       <div *ngIf="data.user_policy_coverage.preExistingDisease != undefined">
        <p>Pre-Existing Disease- <b>{{data.user_policy_coverage.preExistingDisease| currency:'INR':"symbol"}}</b></p>
       </div>
       <div *ngIf="data.user_policy_coverage.maternityBenefits != undefined">
        <p>Maternity Benefits- <b>{{data.user_policy_coverage.maternityBenefits| currency:'INR':"symbol"}}</b></p>
       </div>
       <div *ngIf="data.user_policy_coverage.hospitalWardType != undefined">
        <p>Hospital Ward Type- <b>{{data.user_policy_coverage.hospitalWardType}}</b></p>
       </div>
      </div>
      <div *ngIf="data.external_entity_type.externalEntityTypeId == '7'">
        <div *ngIf="data.user_policy_coverage.deathSumAssured != undefined">
            <p>Death Sum Assured- <b>{{data.user_policy_coverage.deathSumAssured| currency:'INR':"symbol"}}</b></p>
            </div>
            <div *ngIf="data.user_policy_coverage.totalAndPermanentDisabilitySumAssured != undefined">
                <p>Total Permanent Disability Sum Assured- <b>{{data.user_policy_coverage.totalAndPermanentDisabilitySumAssured| currency:'INR':"symbol"}}</b></p>
                </div>
            <div *ngIf="data.user_policy_coverage.criticalIllnessSumAssured != undefined">
                <p>Critical Illness Sum Assured- <b>{{data.user_policy_coverage.criticalIllnessSumAssured| currency:'INR':"symbol"}}</b></p>
            </div>
      </div>
      <div *ngIf="data.external_entity_type.externalEntityTypeId == '6'">
        <div *ngIf="data.noOfPeopleCovered != undefined">
        <p>No. of People Covered- <b>{{data.noOfPeopleCovered}}</b></p>
        </div>
        <div *ngIf="data.user_policy_coverage.baggageDelayCoverage != undefined">
            <p>Baggage Delay Coverage- <b>{{data.user_policy_coverage.baggageDelayCoverage| currency:'INR':"symbol"}}</b></p>
        </div>
        <div *ngIf="data.user_policy_coverage.lossOfBaggageAndBelongingCoverage != undefined">
            <p>Emergency Medical Evacuation Coverage- <b>{{data.user_policy_coverage.lossOfBaggageAndBelongingCoverage| currency:'INR':"symbol"}}</b></p>
        </div>
        <div *ngIf="data.user_policy_coverage.baggageDelayCoverage != undefined">
            <p>Loss of Baggage And Belonging Coverage- <b>{{data.user_policy_coverage.baggageDelayCoverage| currency:'INR':"symbol"}}</b></p>
        </div>
        <div *ngIf="data.user_policy_coverage.overseasMedicalExpenseCoverage != undefined">
            <p>Overseas Medical Expense Coverage- <b>{{data.user_policy_coverage.overseasMedicalExpenseCoverage| currency:'INR':"symbol"}}</b></p>
        </div>
        <div *ngIf="data.user_policy_coverage.deathSumAssured != undefined">
            <p>Death Sum Assured- <b>{{data.user_policy_coverage.deathSumAssured| currency:'INR':"symbol"}}</b></p>
        </div>
        <div *ngIf="data.user_policy_coverage.totalAndPermanentDisabilitySumAssured != undefined">
            <p>Total Permanent Disability Sum Assured- <b>{{data.user_policy_coverage.totalAndPermanentDisabilitySumAssured| currency:'INR':"symbol"}}</b></p>
        </div>
        <div *ngIf="data.user_policy_coverage.travelDelay != undefined">
            <p>Travel Delay- <b>{{data.user_policy_coverage.travelDelay| currency:'INR':"symbol"}}</b></p>
            </div>
        <div *ngIf="data.user_policy_coverage.accidentalDeathSumAssured != undefined">
                <p>Accidental Death Sum Assured- <b>{{data.user_policy_coverage.accidentalDeathSumAssured| currency:'INR':"symbol"}}</b></p>
        </div>

      </div>
      <div *ngIf="data.external_entity_type.externalEntityTypeId == '12'">
        <div *ngIf="data.user_policy_coverage.deathSumAssured != undefined">
            <p>Death Sum Assured- <b>{{data.user_policy_coverage.deathSumAssured| currency:'INR':"symbol"}}</b></p>
        </div>
        <div *ngIf="data.user_policy_coverage.totalAndPermanentDisabilitySumAssured != undefined">
            <p>Total Permanent Disability Sum Assured- <b>{{data.user_policy_coverage.totalAndPermanentDisabilitySumAssured| currency:'INR':"symbol"}}</b></p>
        </div>
        <div *ngIf="data.user_policy_coverage.criticalIllnessSumAssured != undefined">
            <p>Critical Illness Sum Assured- <b>{{data.user_policy_coverage.criticalIllnessSumAssured| currency:'INR':"symbol"}}</b></p>
        </div>
      </div>
      <div *ngIf="data.external_entity_type.externalEntityTypeId == '11'">
        <div *ngIf="data.user_policy_coverage.payOutAmount != undefined">
            <p>Pay Out Amount- <b>{{data.user_policy_coverage.payOutAmount| currency:'INR':"symbol"}}</b></p>
        </div>
        <div *ngIf="data.user_policy_coverage.payOutFrequency != undefined">
            <p>Pay Out Frequency- <b>{{data.user_policy_coverage.payOutFrequency}}</b></p>
        </div>
      </div>
      <div *ngIf="data.external_entity_type.externalEntityTypeId == '10'">
        <div *ngIf="data.user_policy_coverage.alternativeAccommodationSumAssured != undefined">
            <p>Alternative Accommodation Sum Assured- <b>{{data.user_policy_coverage.alternativeAccommodationSumAssured| currency:'INR':"symbol"}}</b></p>
        </div>
        <div *ngIf="data.user_policy_coverage.householdContentSumAssured != undefined">
            <p>Household Content Sum Assured- <b>{{data.user_policy_coverage.householdContentSumAssured| currency:'INR':"symbol"}}</b></p>
        </div>
        <div *ngIf="data.user_policy_coverage.renovationSumAssured != undefined">
            <p>Renovation Sum Assured- <b>{{data.user_policy_coverage.renovationSumAssured| currency:'INR':"symbol"}}</b></p>
        </div>
      </div>
      <hr/>
      <p>Agent Name- <b>{{data.user_policy_agent.name}}</b></p>
      <p>Agent Contact no- <b>{{data.user_policy_agent.phone}}</b></p>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
      <button mat-button color="primary"> Update Policy</button>
    </mat-dialog-actions>


