.example-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
  .example-is-mobile .example-toolbar {
    position: fixed;
    /* Make sure the toolbar will stay on top of the content as it scrolls past. */
    z-index: 2;
  }
  .mat-toolbar.mat-primary {
    background: #010d52;
    color: #4fc8ec;
  }
  
  h1.example-app-name {
    margin-left: 8px;
  }
  
  .example-sidenav-container {
    /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
       causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
    flex: 1;
    background: #c5e5eb;
  }
  
  .main-content{
    margin-left: 20px;
    margin-right: 20px;
  }

  .example-is-mobile .example-sidenav-container {
    /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
       `<body>` to be our scrolling element for mobile layouts. */
    flex: 1 0 auto;
  }

  button:focus {outline:0;}



.example-card {
  width: 425px;
  height: 177px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #fff;
  
}

.mat-card-title{
  margin-left: 2.5em;
}



.column {
  float: left;
  
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

* {
  box-sizing: border-box;
}

.insuranceLogo{
  border: 2px solid #fff;
  width: 65px;
  height: 47px;
  background-size: cover;}

  .subtitle-left{
    padding-left: 49px;
  }

  .row-body{
    padding-left: 50px;
  }
  .spinner-login100 {
    position: fixed;
    top: 27.5%;
    bottom: 0;
    left: 20.5%;
    right: 0;
    margin: 0 auto;

  }

  .example-icon {
    padding: 0 14px;
  }
  
  .example-spacer {
    flex: 1 1 auto;
  }

  button {
    outline: none !important;
    border: none;
    background: transparent;
  }
  
  button:hover {
    cursor: pointer;
  }

  .test {
    position: absolute;
  top: 0;
  right: 0;
  transform: translate(1%, 1%);
  
  padding-top: 15px;
  padding-right: 6px;
  line-height: 14px;
  min-width: auto;
    }

.cardContent{
  cursor: pointer;
}

.test1 {
    position: absolute;
  top: 90px;
  right: 20px;
  transform: translate(9%, 1%);
  font-family: Poppins-Regular;
  background: #c5e5eb;
  /* padding-top: 15px;
  padding-right: 6px;
  line-height: 14px; */
  border-radius: 25px;
  min-width: auto;
    }
