<button mat-icon-button class="test"
(click)="onNoClick()">
<mat-icon>close</mat-icon>
</button>
<br/>
<h3 matDialogTitle style="background-color: #fff;">Share your Policy</h3>
<mat-dialog-content>
   <p> Upload List of Phone Numbers: Get sample <a href="../../assets/sample.xls">here</a></p>
<input mat-input type="file" (change)="onFileChange($event)" multiple="false" 
accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel,.xls,.xlxs"/>
	<div *ngIf="errorMessage!= null"><br><p class="error">{{errorMessage}}</p></div>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-raised-button style="background-color: #55bbf1;"
    [disabled]="ready!='y'">Share</button>
</mat-dialog-actions>
