@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

  button:hover {
    cursor: pointer;
  }

  .test {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(1%, -1%);
    
    padding: 5px;
    line-height: 14px;
    min-width: auto;
    }

    button {
        outline: none !important;
        border: none;
    }

    p {
        font-size: small;
        font-family:Poppins-Regular ;
    }

    .error{
        text-align: center;
        font-family: FontAwesome;
        color: #c80000;
        font-size: 16px;
      }