<!-- Material form login -->
	
	<div class="limiter">
		<div class="container-login100">
			
			<div class="wrap-login100">
				<form class="login100-form " ngNativeValidate #form>
					<span class="login100-form-title p-b-26">
						<img src="./assets/insfinite_icon.png" id="icon" alt="Insfinite Icon" width="100" height="100"/>
					</span>
					<br>
					<span class="login100-form-title p-b-48">
						<i class="zmdi zmdi-font"></i>
					</span>
					
					<p><mat-form-field class="example-full-width">
						<input matInput [formControl]="UsernameFormControl"
						 type="text" name="email" required  placeholder="Email/Mobile Number"
						 (keyup.enter)="onEnteringMobileNo($event);" (blur)="onEnteringMobileNo($event);"
						pattern="^([_a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,5}))|(\d+$)$">	
						<mat-error *ngIf="UsernameFormControl.hasError('pattern') || UsernameFormControl.hasError('required')">
							Please enter a valid mobile number or Email
						  </mat-error>
					</mat-form-field></p>
				
					<br>
					<p><mat-form-field class="example-full-width">
						<input matInput type="password" [formControl]="PasswordFormControl" required placeholder="Password"
						(keyup.enter)="onEnteringPassword($event);" (blur)="onEnteringPassword($event);">
						<mat-error *ngIf="PasswordFormControl.hasError('required')">
							Please enter Password
						  </mat-error>
					</mat-form-field></p>

					<div class="container-login100-form-btn">
						<div class="wrap-login100-form-btn">
							<div class="login100-form-bgbtn"></div>
							<button class="login100-form-btn" (click)="form.checkValidity()?check():fillRequired()">
								Sign Up
							</button>
						</div>
					</div>

					<div class="text-center p-t-115">
						<span class="txt1">
							Don’t have an account?
						</span>

						<a class= "txt2" routerLink="/login" routerLinkActive="active">login</a>
					</div>
				</form>
			</div>
		</div>
	</div>
	

	<div id="dropDownSelect1"></div>

