@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

button {
	outline: none !important;
	border: none;
	background: transparent;
}

button:hover {
	cursor: pointer;
}


.close.mat-icon-button {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(1%, -1%);
  
  padding: 5px;
  line-height: 14px;
  min-width: auto;
}