@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
.mat-stepper-horizontal {
    margin-top: 8px;
  }
  
  .mat-form-field {
    margin-top: 16px;
  }
  button:hover {
    cursor: pointer;
  }

  .test {
    position: absolute;
  top: 0;
  right: 0;
  transform: translate(-1%, -1%);
  
  padding-top: 15px;
  padding-right: 6px;
  line-height: 14px;
  min-width: auto;
    }


    button {
        outline: none !important;
        border: none;
    }
    
    button:hover {
        cursor: pointer;
    }

    .cardTitle:hover {
        cursor: pointer;
    }

.example-card {
width: 250px;
    height: 105px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #fff;
    
    }

    .entityTypeLogo{
    border: 2px solid #fff;
    width: 40px;
    height: 40px;
    background-size: cover;}

    .entityNameLogo{
        border: 2px solid #fff;
        width: 65px;
        height: 47px;
        background-size: cover;
    }

    .error{
        text-align: center;
        font-family: FontAwesome;
        color: #c80000;
        font-size: 16px;
      }