<button mat-icon-button class="close"
(click)="onNoClick()">
<mat-icon>close</mat-icon>
</button>
<br/>

<mat-horizontal-stepper mat-dialog-content linear #stepper>
    <mat-step [completed]="step1Completed">
        <ng-template matStepLabel>Choose Policy Type</ng-template>
        <div class="row row-body" align="center" *ngIf="!loading">
        <div  *ngFor="let type of entityType; let index=i">
            <div *ngIf="i%2==0" class="col-sm-4"  style="background-color:#fff;">
            
                <mat-card class="example-card" (click)="getEntityName(type)">
                    
                    <mat-card-header style="background-color:#fff;">
                        
                        <div mat-card-avatar  align="left" ><img class="entityTypeLogo" 
                          [src]="type.icon"></div>
                        <mat-card-title class="cardTitle"align="left" 
                         >{{type.entityType}} 
                            </mat-card-title>
                    </mat-card-header>
                </mat-card>
            </div>
                <div *ngIf="i%2!=0" class="col-sm-4"  style="background-color:#fff;">
            
                    <mat-card class="example-card" (click)="getEntityName(type)">
                        
                        <mat-card-header style="background-color:#fff;">
                            
                            <div mat-card-avatar  align="left" ><img class="entityTypeLogo" 
                              [src]="type.icon"></div>
                            <mat-card-title align="left"
                             >{{type.entityType}} 
                                </mat-card-title>
                        </mat-card-header>
                    </mat-card>
        </div>
        </div>
    </div>
    </mat-step>
    <mat-step [completed]="step2Completed">
        <ng-template matStepLabel>Choose Insurance Provider</ng-template>
        <div class="row row-body" align="center" *ngIf="nameAvailable">
            <div  *ngFor="let name of entityName; let index=i">
                <div *ngIf="i%2==0" class="col-sm-4"  style="background-color:#fff;">
                
                    <mat-card class="example-card" (click)="this.step2Completed=true;setEntityName(name)">
                        <mat-card-header style="background-color:#fff;">
                           
                            <div mat-card-avatar  align="left" ><img class="entityNameLogo" 
                              [src]="name.icon"></div>
                            <mat-card-title class="cardTitle"align="left" 
                            matStepperNext >{{name.entityName}} 
                                </mat-card-title>
                        </mat-card-header>
                    </mat-card>
                </div>
                    <div *ngIf="i%2!=0" class="col-sm-4"  style="background-color:#fff;">
                
                        <mat-card class="example-card" (click)="this.step2Completed=true;setEntityName(name)">
                            <mat-card-header style="background-color:#fff;">
                               
                                <div mat-card-avatar  align="left" ><img class="entityNameLogo" 
                                  [src]="name.icon"></div>
                                  <div matStepperNext>
                                <mat-card-title align="left"
                                matStepperNext >{{name.entityName}} 
                                    </mat-card-title></div>
                            </mat-card-header>
                        </mat-card>
            </div>
            </div>
        </div>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Upload Policy</ng-template>
        <div *ngIf="nameIdAvailable">
      <input type="file" name="policy" ng2FileSelect [uploader]="uploader" accept="application/pdf,image/jpg"
      multiple="false"/>
      <br>
      <button mat-raised-button 
    (click)="fileUpload()" 
    [disabled]="!uploader.getNotUploadedItems().length" >
        Upload
  </button>
</div>
<div *ngIf="!nameIdAvailable">
    <p class="error">Please select an Insurance Provider</p>
</div>
    </mat-step>
  </mat-horizontal-stepper>
  